{% extends "index.html" %}
{% load static %}
{% block content %}
<div class="sm:flex items-center max-w-screen-xl">
    <div class="sm:w-1/2 p-10">
        <div class="image object-center text-center">
            <img src="https://i.imgur.com/WbQnbas.png">
        </div>
    </div>
    <div class="sm:w-1/2 px-5 pb-10 sm:border-y-0 border-b-8">
        <div class="text">
            <h2 class="my-8 font-bold text-3xl text-center sm:text-4xl ">About <span class="">Our Company</span>
            </h2>
            <p class="text-gray-700 text-center">
                CoreCrust is a revolutionary health supplement brand dedicated to providing high
                quality, performance-driven nutrition for fitness enthusiasts, athletes, and health
                conscious individuals. With a core focus on whey protein, peanut butter, and other 
                high-performance supplements, CoreCrust is built on the pillars of purity, science, and 
                innovation. We believe that true fitness starts from within, and our mission is to fuel 
                every journey with clean, effective, and delicious nutrition that enhances strength, 
                endurance, and overall well-being.
            </p>
            <h2 class="my-8 font-bold text-3xl text-center sm:text-4xl ">Vision
            </h2>
            <p class="text-gray-700 text-center">
                Our vision is to become a trusted name in the fitness industry by prioritizing 
                transparency, premium ingredients, and rigorous quality standards. At CoreCrust, we 
                don’t just sell supplements—we create a movement centered around health, discipline, 
                and progress. Whether you're an elite athlete or someone taking the first step towards 
                a healthier lifestyle, our products are designed to support you at every stage. We are 
                committed to continuous research, innovation, and community building, ensuring that 
                CoreCrust becomes the go-to brand for those who refuse to compromise on quality and 
                performance.
            </p>
        </div>
    </div>
</div>
{% endblock %}