{% extends "index.html" %}
{% block content %}
<div class="md:flex items-start justify-center py-12 2xl:px-20 md:px-40 px-2">
    {% comment %} <div class="xl:w-2/6 lg:w-2/5 w-80 md:block hidden">
        <img class="w-full" alt="image of a girl posing" src="https://i.ibb.co/QMdWfzX/component-image-one.png" />
        <img class="mt-6 w-full" alt="image of a girl posing" src="https://i.ibb.co/qxkRXSq/component-image-two.png" />
    </div> 
    <div class="md:hidden">
        <img class="w-full" alt="image of a girl posing" src="https://i.ibb.co/QMdWfzX/component-image-one.png" />
        <div class="flex items-center justify-between mt-3 space-x-4 md:space-x-0">
            <img alt="image-tag-one" class="md:w-48 md:h-48 w-full" src="https://i.ibb.co/cYDrVGh/Rectangle-245.png" />
            <img alt="image-tag-one" class="md:w-48 md:h-48 w-full" src="https://i.ibb.co/f17NXrW/Rectangle-244.png" />
            <img alt="image-tag-one" class="md:w-48 md:h-48 w-full" src="https://i.ibb.co/cYDrVGh/Rectangle-245.png" />
            <img alt="image-tag-one" class="md:w-48 md:h-48 w-full" src="https://i.ibb.co/f17NXrW/Rectangle-244.png" />
        </div>
    </div> {% endcomment %}
    <div class="md:flex-1 mx-auto px-4 ">
        <!-- Product Image Section -->
        <div class="flex flex-col lg:flex-row gap-10">
            <!-- Thumbnail Images (Desktop) -->
            <div class="hidden lg:flex md:w-44 flex-col gap-4">
                {% for image in images %}
                <img 
                    src="{{ image.image.url }}" 
                    alt="Thumbnail {{ forloop.counter }}" 
                    class="w-24 h-24 object-cover cursor-pointer rounded-md border border-gray-200 hover:border-blue-500"
                    onclick="updateMainImage('{{ image.image.url }}')">
                {% endfor %}
            </div>
    
            <!-- Main Image -->
            <div class="relative w-auto">
                <img 
                    id="mainImage" 
                    src="{{ images.first.image.url }}" 
                    alt="{{ product.flavour }}" 
                    class="w-full h-auto object-contain rounded-lg shadow-md">
            </div>
    
            <!-- Slider Images (Mobile) -->
            <div class="lg:hidden">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {% for image in images %}
                        <div class="swiper-slide">
                            <img 
                                src="{{ image.image.url }}" 
                                alt="Slide {{ forloop.counter }}" 
                                class="w-full h-48 object-contain rounded-lg">
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Slider Navigation -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="md:flex-2 xl:w-2/5 md:w-1/2 lg:ml-10  md:ml-6 md:mt-0 mt-6">
        <div class="border-b border-gray-200 pb-6">
            <h1 class="text-sm leading-none font-semibold text-gray-600 dark:text-gray-300 ">Core-Crust</h1>
            <h1 class="lg:text-2xl text-xl font-semibold lg:leading-6 leading-7 text-gray-800 dark:text-white mt-2">{{product.productcat}}</h1>
        </div>
        <div class="py-4 border-b border-gray-200 flex items-center justify-between">
            <p class="text-base leading-4 text-gray-800 dark:text-gray-300">Flavour</p>
            <div class="flex items-center justify-center">
                <p class="text-sm leading-none text-gray-600 dark:text-gray-300 mr-3">{{product.flavour}}</p>
                <img class="hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/productDetail3-svg2dark.svg" alt="next">   
                <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/productDetail3-svg2.svg" alt="next">
                {% comment %} <div class="w-6 h-6 bg-gradient-to-b ml-3 mr-4 cursor-pointer"></div> {% endcomment %}
            </div>
        </div>
        <div class="py-4 border-b border-gray-200 flex items-center justify-between">
            <p class="text-base leading-4 text-gray-800 dark:text-gray-300">Size</p>
            <div class="flex items-center justify-center">
                <p class="text-sm leading-none text-gray-600 dark:text-gray-300 mr-3">{{product.size}} {{product.size_unit}}</p>               
                <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/productDetail3-svg2.svg" alt="next">
                <img class="hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/productDetail3-svg2dark.svg" alt="next">  
            </div>
        </div>
        <button class="dark:bg-white dark:text-gray-900 dark:hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 text-base flex items-center justify-center leading-none text-white bg-orange-500 w-full py-4 hover:bg-orange-400 ">
            {% comment %} <img class="mr-3 dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/svg1.svg" alt="location"> {% endcomment %}
            <img class="mr-3 hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/svg1dark.svg" alt="location">
            Add To Cart
        </button>
        <div>
            <p class=" text-base lg:leading-tight leading-normal text-gray-600 dark:text-gray-300 mt-7">{{product.productcat.description}}</p>
            {% comment %} <p class="text-base leading-4 mt-7 text-gray-600 dark:text-gray-300">Product Code: 8BN321AF2IF0NYA</p> {% endcomment %}
        </div>
        <div>
            <div class="border-t border-b py-4 mt-7 border-gray-200">
                <div data-menu class="flex justify-between items-center cursor-pointer">
                    <p class="text-base leading-4 text-gray-800 dark:text-gray-300">Shipping and returns</p>
                    <button class="cursor-pointer focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 rounded" role="button" aria-label="show or hide">
                        <img class="transform dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/productDetail3-svg4.svg" alt="dropdown">
                        <img class="transform hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/productDetail3-svg4dark.svg" alt="dropdown">
                    </button>
                </div>
                <div class="hidden pt-4 text-base leading-normal pr-12 mt-4 text-gray-600 dark:text-gray-300" id="sect">You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are nonrefundable</div>
            </div>
        </div>
        <div>
            <div class="border-b py-4 border-gray-200">
                <div data-menu class="flex justify-between items-center cursor-pointer">
                    <p class="text-base leading-4 text-gray-800 dark:text-gray-300">Contact us</p>
                    <button class="cursor-pointer focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 rounded" role="button" aria-label="show or hide">
                        <img class="transform dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/productDetail3-svg4.svg" alt="dropdown">
                        <img class="transform hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/productDetail3-svg4dark.svg" alt="dropdown">
                    </button>
                </div>
                <div class="hidden pt-4 text-base leading-normal pr-12 mt-4 text-gray-600 dark:text-gray-300" id="sect">If you have any questions on how to return your item to us, contact us.</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

