{% extends "index.html" %}
{% load static %}
{% block content %}
<div class="bg-gray-100">
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-4">Terms of Service</h1>

        <p class="mb-4">
            OVERVIEW
            This website is operated by CoreCrust. Throughout the site, the terms “we”, “us” and “our” refer to CoreCrust. CoreCrust offers this website, including 
            all information, tools and Services available from this site to you, the user, conditioned upon your acceptance of all terms, conditions, policies and 
            notices stated here.
            <br>
            <br>
            By visiting our site and/ or purchasing something from us, you engage in our “Service” and agree to be bound by the following terms and conditions 
            (“Terms of Service”, “Terms”), including those additional terms and conditions and policies referenced herein and/or available by hyperlink. These 
            Terms of Service apply  to all users of the site, including without limitation users who are browsers, vendors, customers, merchants, and/ or 
            contributors of content.
            Please read these Terms of Service carefully before accessing or using our website. By accessing or using any part of the site, you agree to be bound 
            by these Terms of Service. If you do not agree to all the terms and conditions of this agreement, then you may not access the website or use any 
            Services. If these Terms of Service are considered an offer, acceptance is expressly limited to these Terms of Service.
            Any new features or tools which are added to the current store shall also be subject to the Terms of Service. You can review the most current version 
            of the Terms of Service at any time on this page. We reserve the right to update, change or replace any part of these Terms of Service by posting 
            updates and/or changes to our website. It is your responsibility to check this page periodically for changes. Your continued use of or access to the 
            website following the posting of any changes constitutes acceptance of those changes.
            Our store is hosted on Shopify Inc. They provide us with the online e-commerce platform that allows us to sell our products and Services to you.
        </p>

        <h2 class="text-2xl font-bold mb-2">SECTION 1 - ONLINE STORE TERMS</h2>

        <p class="mb-4">
            By agreeing to these Terms of Service, you represent that you are at least the age of majority in your state or province of residence, or that you are 
            the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.
            <br>
            
        </p>

        <ul class="list-disc list-inside mb-4">
            <li>You may not use our products for any illegal or unauthorized purpose nor may you, in the use of the Service, violate any laws in your jurisdiction 
                (including but not limited to copyright laws).</li><br>
            <li>You must not transmit any worms or viruses or any code of a destructive nature.</li>
            <br>
            <li> A breach or violation of any of the Terms will result in an immediate termination of your Services.</li>
            <br>
        </ul>
        
        <h2 class="text-2xl font-bold mb-2">SECTION 2 - GENERAL CONDITIONS</h2>

        <p class="mb-4">
            We require this information to understand your needs and provide you with a better service, and in
            particular
            for
            the following reasons:
        </p>

        <ul class="list-disc list-inside mb-4">
            <li>Internal record keeping</li>
            <li>Improving our products and services</li>
            <li>Sending promotional emails about new products, special offers, or other information which we think you
                may
                find
                interesting</li>
            <li>From time to time, we may also use your information to contact you for market research purposes. We may
                contact
                you by email, phone, or mail. We may use the information to customize the website according to your
                interests.</li>
        </ul>

        <h2 class="text-2xl font-bold mb-2">Security</h2>

        <p class="mb-4">
            We are committed to ensuring that your information is secure. In order to prevent unauthorized access or
            disclosure,
            we have put in place suitable physical, electronic, and managerial procedures to safeguard and secure the
            information we collect online.
        </p>

        <h2 class="text-2xl font-bold mb-2">Cookies</h2>

        <p class="mb-4">
            A cookie is a small file that asks permission to be placed on your computer's hard drive. Once you agree,
            the
            file
            is added, and the cookie helps analyze web traffic or lets you know when you visit a particular site.
            Cookies
            allow
            web applications to respond to you as an individual. The web application can tailor its operations to your
            needs,
            likes, and dislikes by gathering and remembering information about your preferences.
        </p>

        <p class="mb-4">
            Overall, cookies help us provide you with a better website by enabling us to monitor which pages you find
            useful
            and which you do not. A cookie in no way gives us access to your computer or any information about you,
            other
            than
            the data you choose to share with us.
        </p>

        <h2 class="text-2xl font-bold mb-2">Links to Other Websites</h2>

        <p class="mb-4">
            Our website may contain links to other websites of interest. However, once you have used these links to
            leave
            our
            site, you should note that we do not have any control over that other website. Therefore, we cannot be
            responsible
            for the protection and privacy of any information which you provide whilst visiting such sites and such
            sites
            are
            not governed by this privacy statement. You should exercise caution and look at the privacy statement
            applicable
            to
            the website in question.
        </p>

        <h2 class="text-2xl font-bold mb-2">Controlling Your Personal Information</h2>

        <p class="mb-4">
            You may choose to restrict the collection or use of your personal information in the following ways:
        </p>

        <ul class="list-disc list-inside mb-4">
            <li>If you have previously agreed to us using your personal information for direct marketing purposes, you
                may
                change your mind at any time by writing to or emailing us at [email protected]</li>
            <li>We will not sell, distribute, or lease your personal information to third parties unless we have your
                permission
                or are required by law to do so. We may use your personal information to send you promotional
                information
                about
                third parties which we think you may find interesting if you tell us that you wish this to happen.</li>
            <li>You may request details of personal information which we hold about you. If you would like a copy of the
                information held on you, please write to [Your Company Name, Address, City, State, Zip Code] or email
                [email protected]</li>
            <li>If you believe that any information we are holding on you is incorrect or incomplete, please write to or
                email
                us as soon as possible at the above address. We will promptly correct any information found to be
                incorrect.
            </li>
        </ul>

        <p class="mb-4">
            This privacy policy is subject to change without notice.
        </p>
    </div>
</div>

{% endblock %}