{% extends 'index.html' %}
{% load static %}

{% block content %}
<!-- ... existing cart HTML ... -->
{% if cart_items %}
<script src="{% static 'js/cart.js' %}"></script>

<section class="h-screen bg-gray-100 py-12 sm:py-16 lg:py-20">
    <div class="mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-center">
            <h1 class="text-2xl font-semibold text-gray-900">Your Cart</h1>
        </div>

        <div class="mx-auto mt-8 max-w-5xl">
            <div class="grid grid-cols-1 gap-8 md:grid-cols-3">
                <!-- Cart Items List - Takes up 2 columns -->
                <div class="md:col-span-2">
                    <div class="bg-white shadow rounded-sm">
                        <div class="px-4 py-6 sm:px-8 sm:py-10">
                            <div class="flow-root">
                                <ul class="-my-8">
                                    {% for item in cart_items %}
                                    <li class="flex flex-col space-y-3 py-6 text-left sm:flex-row sm:space-x-5 sm:space-y-0 {% if not forloop.last %}border-b border-gray-200{% endif %}">
                                        <div class="shrink-0">
                                            <img class="h-24 w-24 max-w-full rounded-sm object-cover" 
                                                 src="{{ item.product.front_image.url }}" 
                                                 alt="{{ item.product.sku }}">
                                        </div>

                                        <div class="relative flex flex-1 flex-col justify-between">
                                            <div class="sm:col-gap-5 sm:grid sm:grid-cols-2">
                                                <div class="pr-8 sm:pr-5">
                                                    <p class="text-base font-semibold text-gray-900">{{ item.product.productcat.name }}</p>
                                                    <p class="mx-0 mt-1 mb-0 text-sm text-gray-400">{{ item.product.flavour }} - {{ item.product.size }}{{ item.product.size_unit }}</p>
                                                </div>

                                                <div class="mt-4 flex items-end justify-between sm:mt-0 sm:items-start sm:justify-end">
                                                    <p class="shrink-0 w-20 text-base font-semibold text-gray-900 sm:order-2 sm:ml-8 sm:text-right">
                                                        ₹{{ item.get_total_price }}
                                                    </p>

                                                    <div class="sm:order-1">
                                                        <div class="mx-auto flex h-8 items-stretch text-gray-600">
                                                            <button class="flex items-center justify-center rounded-sm bg-gray-200 px-4 transition hover:bg-black hover:text-white"
                                                                    data-item-id="{{ item.id }}"
                                                                    onclick="updateCartItem({{ item.id }}, {{ item.quantity|add:'-1' }})">-</button>
                                                            <div class="flex w-full items-center justify-center bg-gray-100 px-4 text-xs uppercase transition">
                                                                {{ item.quantity }}
                                                            </div>
                                                            <button class="flex items-center justify-center rounded-sm bg-gray-200 px-4 transition hover:bg-black hover:text-white"
                                                                    data-item-id="{{ item.id }}"
                                                                    onclick="updateCartItem({{ item.id }}, {{ item.quantity|add:'1' }})">+</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="absolute top-0 right-0 flex sm:bottom-0 sm:top-auto">
                                                <button type="button" 
                                                        onclick="updateCartItem({{ item.id }}, 0)"
                                                        class="flex rounded-sm p-2 text-center text-gray-500 transition-all duration-200 ease-in-out focus:shadow hover:text-gray-900">
                                                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Order Summary - Takes up 1 column -->
                <div class="md:col-span-1">
                    <div class="bg-white shadow rounded-sm">
                        <div class="px-4 py-6 sm:px-8 sm:py-10">
                            <div class="flow-root">
                                <div class="mt-6 border-t border-b py-2">
                                    <div class="flex items-center justify-between">
                                        <p class="text-sm text-black">Subtotal</p>
                                        <p class="text-lg font-semibold text-gray-900">₹{{ total_price }}</p>
                                    </div>
                                    <div class="flex items-center justify-between">
                                        <p class="text-sm text-black">Discount</p>
                                        <p class="text-lg font-semibold text-gray-900">- ₹{{ total_price }}</p>
                                    </div>
                                    <div class="flex items-center justify-between">
                                        <p class="text-sm text-black">Shipping</p>
                                        <p class="text-lg font-semibold text-gray-900">Free</p>
                                    </div>
                                </div>
                                <div class="mt-6 flex items-center justify-between">
                                    <p class="text-sm font-medium text-gray-900">Total</p>
                                    <p class="text-2xl font-semibold text-gray-900">
                                        <span class="text-xl font-normal text-gray-900"> ₹</span>
                                        {{ total_price }}
                                    </p>
                                </div>

                                <div class="mt-6 text-center">
                                    <button type="button" 
                                            {% if not cart_items %}
                                            disabled
                                            {% endif %}
                                            class="group inline-flex w-full items-center justify-center rounded-md {% if cart_items %}bg-green-500 hover:bg-green-600{% else %}bg-green-600 cursor-not-allowed{% endif %} px-6 py-4 text-lg font-semibold text-white transition-all duration-200 ease-in-out focus:shadow">
                                        Place Order
                                    </button>
                                    <img class="mt-6" src="{% static '\icons\Footer-payment-icons.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% else %}
<div class="w-auto h-96 pt-40 text-center font-semibold text-4xl">
    Your cart is currently empty.
</div>
{% endif %}
{% endblock %}
